body
  &.home
    .bets
      .bet
        &:hover
          cursor: pointer
  .bets
    .bet
       margin: 15px 0
      .league-badge
        float: left
        padding: 15px 10px
        margin-right: 20px
        border-radius: $border-radius-base
		@media screen and (max-width: $screen-sm-max)
		  margin: 0 0 19px 0
		  clear: both
		  float: none
      .team-0, .team-1
        display: table
		@media screen and (max-width: $screen-xs-max)
		  clear: both
        img
          display: table-cell
          max-width: 120px
        .details
          display: table-cell
          vertical-align: top
          padding: 5px 10px;
          color: $design-hl
          h2, h3
            margin: 0
          .specifics
            display: inline-block
            font-size: $font-size-h3
            text-align: left
			p
			  margin: 11px 0 0 0
			  line-height: 1.1
      .team-0
        float: left
		@media screen and (max-width: $screen-xs-max)
		  margin: 0 0 10px 0
        h2, h3
          text-align: left
        .details
          .specifics
            float: left
      .team-1
        float: right
		@media screen and (max-width: $screen-xs-max)
		  float: left
        h2, h3
          text-align: right
		  @media screen and (max-width: $screen-xs-max)
		    text-align: left
        .details
		  @media screen and (max-width: $screen-xs-max)
			float: right
          .specifics
            float: right
			@media screen and (max-width: $screen-xs-max)
			  float: left