.avatar-sm
  max-width: 24px !important
.team-avatar
  max-width: 120px
.fa
  margin-right: 4px
.button-panel
  display: inline-block
.list-group
  border-radius: 5px
  border: 1px solid #000
.fileinput-control
  vertical-align: top
  overflow: hidden
  .fa
    vertical-align: top
    margin-top: 4px
.fileinput-filename
  word-wrap: break-word
  word-break: break-all
  max-width: 363px
  vertical-align: top
.form-group
  margin-bottom: 10px
label
  font-weight: normal
.text-left
  text-align: left
.text-right
  text-align: right
.table-layout
  display: table
  width: 100%
  min-width: 100%
.table-cell
  display: table-cell
  vertical-align: top
.table-cell-sm
  width: 1px
.block
  display: block

.steam-item
  float: left
  margin: 5px
  border: solid 2px
  border-radius: $border-radius-base
  width: 84px
  height: 70px
  &.lg
    width: 100px
    height: 84px
  background-size: 90%
  background-repeat: no-repeat
  background-position: center
  position: relative
  &.quality-1
    background-color: #002700
    border-color: #466400
    .check
      background: -webkit-linear-gradient(225deg, #466400 50%, #466400 50%, transparent 50%, transparent 100%)
      background:    -moz-linear-gradient(225deg, #466400 50%, #466400 50%, transparent 50%, transparent 100%)
      background:      -o-linear-gradient(225deg, #466400 50%, #466400 50%, transparent 50%, transparent 100%)
      background:         linear-gradient(225deg, #466400 50%, #466400 50%, transparent 50%, transparent 100%)
    .value
      background-color: #466400
  &.quality-3
    background-color: #001935
    border-color: #005275
    .check
      background: -webkit-linear-gradient(225deg, #005275 50%, #005275 50%, transparent 50%, transparent 100%)
      background:    -moz-linear-gradient(225deg, #005275 50%, #005275 50%, transparent 50%, transparent 100%)
      background:      -o-linear-gradient(225deg, #005275 50%, #005275 50%, transparent 50%, transparent 100%)
      background:         linear-gradient(225deg, #005275 50%, #005275 50%, transparent 50%, transparent 100%)
    .value
      background-color: #005275
  &.quality-6
    background-color: #201703
    border-color: #6F6102
    .check
      background: -webkit-linear-gradient(225deg, #6F6102 50%, #6F6102 50%, transparent 50%, transparent 100%)
      background:    -moz-linear-gradient(225deg, #6F6102 50%, #6F6102 50%, transparent 50%, transparent 100%)
      background:      -o-linear-gradient(225deg, #6F6102 50%, #6F6102 50%, transparent 50%, transparent 100%)
      background:         linear-gradient(225deg, #6F6102 50%, #6F6102 50%, transparent 50%, transparent 100%)
    .value
      background-color: #6F6102
  .check
    display: none
    position: absolute
    top: 0
    right: 0
  &:hover
    cursor: pointer
  &.active
    .check
      display: block
      width: 28px
      height: 28px
      .fa-check
        position: absolute
        font-size: 0.8em
        top: 1px
        right: 1px
        margin: 0
  .value
    @extend .label
    position: absolute
    bottom: 0
    right: 0
    padding: 1px 2.5px
    margin: 0
    border-radius: 2px 0 0 0

a:hover, a:focus
  text-decoration: none

.popover
  .arrow
    display: none
  .popover-content
    p
      margin-bottom: 0
  .popover-title
    white-space: nowrap
  .popover-content
    white-space: nowrap